@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';
//---------------------------add goole fonts-------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;1,700&family=Raleway:wght@400;500;600&display=swap');
@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.1s;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.divider {
    border: 1px solid rgba(85, 166, 48, 0.5);
}

@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/header';
@import 'blocks/banner';
@import 'blocks/result';
@import 'blocks/courses';
@import 'blocks/about';
@import 'blocks/study';
@import 'blocks/models';
@import 'blocks/master';
@import 'blocks/why';
@import 'blocks/offer';
@import 'blocks/ordercall';
@import 'blocks/footer';
@import 'blocks/menu';
@import 'blocks/media';