.result {
    position: absolute;
    top: 713px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 212px;
    background: #FFFFFF;
    box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
    border-radius: 4px;
    z-index: 2;
    padding: 0px 51px;
    &__item {
        width: 185px;
        text-align: center;
        &-count {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 45px;
            line-height: 45px;
            color: $second-color;
        }
        &-descr {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 23px;
            line-height: 28px;
            display: flex;
            color: $main-color;
            margin-top: 19px;
        }
    }
}