.study {
    position: relative;
    min-height: 690px;
    margin-top: 175px;
    &__subtitle {
        position: absolute;
        bottom: 25px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        text-transform: uppercase;
        color: #FFFFFF;
        &:first-child {
            &:after {
                content: '';
                position: absolute;
                top: 83%;
                width: 84px;
                height: 8px;
                background-image: url('../../icons/study/arrow.svg');
                margin-left: 28px;
            }
        }
        &:after {
            content: none;
        }
    }
    &__list {
        visibility: hidden;
    }
    &__wrapper1 {
        margin-top: 76px;
        display: flex;
        justify-content: space-between;
        &-img1 {
            cursor: pointer;
            position: relative;
            width: 570px;
            height: 260px;
            padding: 36px 25px;
            background-image: url("../../img/study/bg1.jpeg");
            box-shadow: inset 0 0 0 1000px rgba(35, 35, 35, .6);
            &:hover {
                .study {
                    &__subtitle {
                        top: 35px;
                        &:first-child {
                            &:after {
                                content: '';
                                position: absolute;
                                top: 31%;
                            }
                        }
                    }
                    &__list {
                        position: absolute;
                        visibility: visible;
                        bottom: 15px;
                        left: 31px;
                        width: 296px;
                        font-family: 'Montserrat';
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #FFFFFF;
                        list-style-type: '-';
                        li {
                            position: relative;
                        }
                        li span {
                            position: absolute;
                            left: 5px;
                        }
                    }
                }
            }
        }
        &-img2 {
            cursor: pointer;
            position: relative;
            width: 570px;
            height: 260px;
            padding: 36px 25px;
            background-image: url("../../img/study/bg2.jpeg");
            box-shadow: inset 0 0 0 1000px rgba(35, 35, 35, .6);
            .study__subtitle {
                &:after {
                    content: none;
                }
            }
            &:hover {
                .study {
                    &__subtitle {
                        top: 100px;
                        &:after {
                            content: '';
                            position: absolute;
                            top: 18%;
                            width: 84px;
                            height: 8px;
                            background-image: url('../../icons/study/arrow.svg');
                            margin-left: 28px;
                        }
                    }
                    &__list {
                        position: absolute;
                        visibility: visible;
                        bottom: 15px;
                        left: 31px;
                        width: 296px;
                        font-family: 'Montserrat';
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #FFFFFF;
                        list-style-type: '-';
                        li {
                            position: relative;
                        }
                        li span {
                            position: absolute;
                            left: 5px;
                        }
                    }
                }
            }
        }
    }
    &__wrapper2 {
        margin-top: 54px;
        display: flex;
        justify-content: space-between;
        &-img1 {
            cursor: pointer;
            position: relative;
            width: 364px;
            height: 260px;
            padding: 36px 25px;
            background-image: url("../../img/study/bg3.jpeg");
            box-shadow: inset 0 0 0 1000px rgba(35, 35, 35, .6);
            .study__subtitle {
                font-size: 32px;
                &-hover {
                    display: none;
                    margin-top: 30px;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 38px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    &-text {
                        display: none;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        color: #FFFFFF;
                    }
                    &-arrow {
                        position: absolute;
                        bottom: 30px;
                        right: 33px;
                        display: none;
                        width: 84px;
                        height: 8px;
                        background-image: url('../../icons/study/arrow.svg');
                    }
                }
                &:after {
                    content: none;
                }
            }
            &:hover {
                .study {
                    &__subtitle {
                        display: none;
                        &-hover {
                            display: block;
                            margin-bottom: 25px;
                            &-text {
                                display: block;
                            }
                            &-arrow {
                                display: inline-block;
                            }
                        }
                        &:first-child {
                            &:after {
                                content: '';
                                position: absolute;
                                top: 31%;
                            }
                        }
                    }
                    &__list {
                        visibility: visible;
                        bottom: 15px;
                        left: 31px;
                        width: 296px;
                        font-family: 'Montserrat';
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #FFFFFF;
                        list-style-type: '-';
                        li {
                            position: relative;
                        }
                        li span {
                            position: absolute;
                            left: 5px;
                        }
                    }
                }
            }
        }
        &-img2 {
            cursor: pointer;
            position: relative;
            width: 364px;
            height: 260px;
            padding: 36px 25px;
            background-image: url("../../img/study/bg4.jpeg");
            box-shadow: inset 0 0 0 1000px rgba(35, 35, 35, .6);
            .study__subtitle {
                font-size: 32px;
                top: 22px;
                &-hover {
                    display: none;
                    margin-top: 30px;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 38px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    &-text {
                        width: 273px;
                        display: none;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        color: #FFFFFF;
                    }
                    &-arrow {
                        position: absolute;
                        bottom: 30px;
                        right: 33px;
                        display: none;
                        width: 84px;
                        height: 8px;
                        background-image: url('../../icons/study/arrow.svg');
                    }
                }
                &:after {
                    content: none;
                }
            }
            &:hover {
                .study {
                    &__subtitle {
                        display: none;
                        &-hover {
                            display: block;
                            margin-bottom: 25px;
                            &-text {
                                display: block;
                            }
                            &-arrow {
                                display: inline-block;
                            }
                        }
                        &:first-child {
                            &:after {
                                content: '';
                                position: absolute;
                                top: 31%;
                            }
                        }
                    }
                    &__list {
                        visibility: visible;
                        bottom: 15px;
                        left: 31px;
                        width: 296px;
                        font-family: 'Montserrat';
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #FFFFFF;
                        list-style-type: '-';
                        li {
                            position: relative;
                        }
                        li span {
                            position: absolute;
                            left: 5px;
                        }
                    }
                }
            }
        }
        &-img3 {
            cursor: pointer;
            position: relative;
            width: 364px;
            height: 260px;
            padding: 36px 25px;
            background-image: url("../../img/study/bg5.jpeg");
            box-shadow: inset 0 0 0 1000px rgba(35, 35, 35, .6);
            .study__subtitle {
                font-size: 32px;
                &-hover {
                    display: none;
                    margin-top: 30px;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 38px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    &-text {
                        display: none;
                        width: 270px;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        color: #FFFFFF;
                    }
                    &-arrow {
                        position: absolute;
                        bottom: 30px;
                        right: 33px;
                        display: none;
                        width: 84px;
                        height: 8px;
                        background-image: url('../../icons/study/arrow.svg');
                    }
                }
                &:after {
                    content: none;
                }
            }
            &:hover {
                .study {
                    &__subtitle {
                        display: none;
                        &-hover {
                            display: block;
                            margin-bottom: 25px;
                            &-text {
                                display: block;
                            }
                            &-arrow {
                                display: inline-block;
                            }
                        }
                        &:first-child {
                            &:after {
                                content: '';
                                position: absolute;
                                top: 31%;
                            }
                        }
                    }
                    &__list {
                        visibility: visible;
                        bottom: 15px;
                        left: 31px;
                        width: 296px;
                        font-family: 'Montserrat';
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #FFFFFF;
                        list-style-type: '-';
                        li {
                            position: relative;
                        }
                        li span {
                            position: absolute;
                            left: 5px;
                        }
                    }
                }
            }
        }
    }
    &__fon {
        position: absolute;
        width: 773.11px;
        height: 602.41px;
        bottom: -202px;
        left: 6px;
        z-index: -1;
    }
}